
$font :  "Montserrat", sans-serif;


/* Layout */

*{
 box-sizing:border-box;
}

.row {
    margin-top: 30px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
img.left {
    float: left;
    margin: 0 5px 5px 0;
}
img.right {
    float: right;
    margin: 0 0 5px 5px;
}
img.center {
    display: block;
    margin: auto;
}
object {
    display: block;
    margin: auto;
}
abbr {
    border-bottom: 1px dashed #444;
}
hr {
    border: none;
}
.tags > ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.tags > ul > li {
    display: inline-block;
}
.tags > ul > li::after {
    content: "/";
    margin-left:8px;
    margin-right:4px;
    font-weight:300;
    font-family:sans-serif;
    color:#ccc;

}
.tags > ul > li:last-child::after {
    content: ""
}
.tags > ul > li > a {
    font-size: 10pt;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-family:sans-serif;
}

body > header {
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    min-height:200px;
}
body > header > .navigation > .nav {
    width:200px;
    text-align:left;
    padding-top:40px;
}
body > header > .navigation  span {
    cursor:pointer;
}
body > header > .navigation  span:hover {
    text-decoration: underline;
}
body > header > .navigation > .nav > ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    font-family: $font;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size:12px;
    margin-right:-4px;
}
body > header > .navigation > .nav > ul > li {
    margin-top:12px;
    margin-bottom:12px;
}
body > header > .navigation > .nav:nth-child(3) {
    text-align:right;
}
body > header > .navigation{
    display:flex;
}
body > header > .navigation > .spinner {
    width:400px;
    min-height:200px;
}
body > header > .subline {
    width:100%;
    border-top: 1px solid #333;
    text-align: center;

}
body > header > .subline > .tagline {
    background:white;
    padding:0px 8px;
    display:inline-block;
    margin-top:-8px;
    font-family: $font;
    font-size:11px;
    letter-spacing: 2px;
    margin-right:-2px;
}
body > header > h1 > a {
    background: url(/images/@2x.png) no-repeat top;
    display: block;
    width:100%;
    min-height:27px;
    background-position: 50% 50%;
}
body > header > h1 > a > span {
    display: none;
}

body > section {
    margin: auto;
    max-width: 800px;
    position: relative;
}
body > section .index img {
    margin: auto;
    max-width: 100%;
    margin-bottom:20px;
}
body > section > hr {
    border-top: 1px solid #ccc;
    height: 1px;
    width: 300px;
    margin: 30px auto;
}

/* Index */
body > section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body > section > ul > li {
    text-align: center;
    padding: 10px 0;
    margin-bottom:80px;
}
body > section > ul a {
    color: #333;
    font-family: $font;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-right:-0.1em;
}

body > section > aside {
    text-align: center;
    margin-top: 30px;
    font-size: 10pt;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-family:sans-serif;
}
body > section > aside > a {
    color: #999;
    font-family: $font;
    line-height: 30px;
    font-size: 10pt;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-family:sans-serif;
}
body > section > aside > a:hover {
    color: #999;
}

body > section > aside > h3 {
    color: #999;
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 15px 0;
}
body > section > aside > h3 > a {
    color: #999;
}
body > section > aside > h3 > a:hover {
    color: #999;
}
body > section > aside > ul {
    font-family: $font;
    font-size: 18px;
    color: #333;
    list-style: none;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 40px;
}
body > section > aside > ul > li {
    padding: 5px;
}
body > section > aside > ul > li > a {
    color: #333;
}

body > section > header {
    text-align: center;
    margin-bottom: 25px;
    font-family: $font;
    font-size: 16px;
    display: block;
    background:#eee;
    color:#666;
    padding:10px;
    font-size:10pt;
    font-style: italic;

}

/* Posts */
article {
    padding-bottom: 40px;
    margin-bottom: 40px;
}
article > header {
    margin-bottom: 40px;
}
article > header > h2 {
    font-family: $font;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-right:-0.05em;
    font-weight:700;
}
article > header > h2 > a {
    color: #333;
}
article > header > h2 > a:hover {
    color: #333;
    text-decoration: underline;
}
article > header > aside {
    text-transform: uppercase;
    color: #999;
    margin: auto;
    text-align: center;
    font-size: 10pt;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-family:sans-serif;
}
article > header > aside .tags {
    display:inline-block;
}
article > header > aside a {
    color: #999;
}
article > header > aside a:hover {
    color: #999;
    text-decoration: underline;
}
article > header > aside ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
article > header > aside li {
    display: inline;
}
article > header > cite {
    display: block;
    margin-top: 40px;
    text-align: center;
}
article > header > cite > a {
    font-size: 20px;
    color: #090;
    font-family: $font;
    text-decoration: underline;
}
article > header > cite > a:hover {
    color: #090;
}
article > p {
    font-family: sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    font-weight:300;
}
article > p > img:only-child {
    margin: 30px auto !important;
    max-width: 100%;
}
article > p > a > img:only-child {
    margin: auto !important;
    max-width: 100%;
}
article > p > object {
    margin: 30px auto;
}
article > p a {
    color: black;
    text-decoration: underline;
}
article > ul {
    font-family: $font;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}
article > ul > li {
    margin-bottom: 15px;
}
article > blockquote {
    border: none;
    border-left: 2px solid #900;
    margin: 30px;
}
article > blockquote > p {
    color: #900;
    font-family: $font;
    font-size: 18px;
    font-style: italic;
}
article > h3 {
    color: #999;
    font-family: $font;
    font-weight: normal;
    font-size: 22px;
    line-height: 50px;
    margin-top: 40px;
    text-align: center;
}
article > hr {
    display: none;
}
article > p > iframe {
    max-width: 100%;
    height: 270px;
    margin: 10px 0;
}

/* About */
body > footer {
    font-family: Helvetica, Arial, sans-serif;
    margin: 60px 0 30px 0;
}
body > footer > h2 > span {
    color: #444;
    display: block;
    font-family: $font;
    font-size: 17px;
    line-height: 24px;
    margin: auto;
    width: 130px;
    position: absolute;
    top: 18px;
    left: 26px;
}
body > footer > h2 > span > a {
    color: black;
    text-decoration: none;
}
body > footer > section {
    color: #999;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
body > footer > section > a {
    color: #999;
}
body > footer > section > a:hover {
    color: #999;
}
body > footer > aside {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Archives */
body > section > section {
    text-align: center;
}
body > section > section > h2 {
    color: #999;
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    margin-top: 30px;
}
body > section > section > ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
body > section > section > ul > li {
    margin: 10px 0;
}
body > section > section > ul a {
    font-family: $font;
    color: black;
    font-size: 18px;
    font-weight:700;
}

/* Code */
pre {
    background: none;
    border: none;
    padding: 10px 0 20px 10px;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
code span.comment {
    color: #999;
}
code span.string {
    color: #080;
}
code span.symbol {
    color: #086fa1;
}
code span.module_class {
    color: #e45c47;
}
code span.variable {
    color: #9303a7;
}
code span.keywords {
    color: #ff6400;
}
code span.global {
    color: #9303a7;
}

code.html span {
    color: #fff;
}
code.html span.tag,
code.haml span.tag,
code.html span.anglebrackets {
    color: #ff9000;
}
code.html span.attribute {
    color: #e8bf6a;
}
code.html span.string {
    color: #080;
}
code.html span.comment {
    color: #999;
}
code.html span.doctype,
code.haml span.doctype {
    color: #900;
}

code.css .selectors {
    color: #e8bf6a;
}
code.css .properties {
    color: #6d9cbe;
}

code.shell {
    color: #ccc;
}
code.shell span.keywords {
    color: #fff;
}

/* Google Adsense */
.aff {
    position: relative;
    width: 300px;
    margin: auto;
}
.aff > .ad-300-250 {
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.aff > .ad-120-600 {
    position: fixed;
    top: 20px;
    left: 10px;
}

.aff > .internal {
    cursor: pointer;
    display: block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.aff > .internal:hover {
    text-decoration: none;
}
.aff > .internal > img {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 170px;
}
.aff > .internal > .title {
    color: black;
    font-size: 16px;
    margin-bottom: 8px;
}
.aff > .internal > .from {
    color: #666;
    font-family: $font;
    font-size: 16px;
}

.overlay{
    position: fixed;
    left:0px;
    right:0px;
    height:0px;
    bottom:auto;
    top:0px;
    background:rgba(0,0,0,0);
    transition: background ease-out 0.5s;
    display: flex;  
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.popup{
    width:0px;
    height:0px;
    display:none;
    
    cursor:default;
   
    opacity:0;
    transition: opacity 0.4s ease-out, height 0.4s ease-out, width 1s ease-out, background 0.4s ease-out, margin-left 0.4s ease-out;
}

body.showEmail .overlay{
    bottom:0px;
    background:rgba(0,0,0,0.5);
    height:auto;
}

@-webkit-keyframes flippy {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes flippy {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

body.showEmail .popup{
    top:50px;
    width:40px;
    height:40px;
    opacity:1;
    background:white;
    -webkit-animation: flippy 1.1s infinite ease-in-out;
    animation: flippy 1.1s infinite ease-in-out; 
    display:block;
}

body.showEmail .popup.loaded{
    top:50px;
    max-width:600px;
    width:80%;
    height:100px;
    opacity:1;
    //-- clear
    border-radius: 0;
    background:white;
    border: none;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: none;
    animation: loader none;
}

body .popup .content{
    opacity:0;

}

@-webkit-keyframes slowshow {
    0% { opacity:0 }
    50% { opacity:0 }
    100% { opacity:1 }
}

@keyframes slowshow {
    0% { opacity:0 }
    50% { opacity:0 }
    100% { opacity:1 }
}

body.showEmail .popup.loaded .content{
    opacity:1;
    -webkit-animation: slowshow 1s ease-in-out;
    animation: slowshow 1s ease-in-out; 
    padding:8px;
}


body.showEmail .popup.loaded .content .clipboard-msg{
    background: #6AA4CA;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: $font;
    font-weight: 300;
    letter-spacing: 0.1em;
}

body.showEmail .popup.loaded .content .subtext{
    
    text-align: center;
    color:#666;
    padding: 14px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 13pt;
    font-size:10pt;
    
}


/* Mobile */
@media all and (max-device-width: 600px) {

    body > header > h1 > a {
        width: 100%;
    }
    body > section {
        width: 100%;
    }
    body > section > ul {
        padding: 0 5px;
    }

    article {
        padding: 0 15px;
    }
    article h2 {
        font-family: $font;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .navigation {
        display:flex !important;
    }

    .nav {
        padding-top:10px;
        padding-bottom:40px;
    }

    .spinner{
        display:none !important;
    }

    body.showEmail .popup.loaded{
        height:150px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
    body > header > h1 > a {
        background-image: url(/images/logo@2x.png);
        background-size: 234px 27px;
    }
    
}
